.App h1,
h2,
h3,
a {
  color: #113f67;
}

.App .App-header h1 {
  font-family: "DM Serif Display", serif;
  text-align: center;
  font-size: 30px;
}

.App a {
  text-decoration: none;
}

.App .App-footer {
  text-align: center;
  margin: 20px 0;
}
