.App {
  max-width: 700px;
  margin: auto;
}

.App h1,
h2,
h3,
a {
  color: #113f67;
  text-decoration: none;
}

.App .App-header h1 {
  font-family: "DM Serif Display", serif;
  text-align: center;
  font-size: 25px;
  margin-bottom: 30px;
}

.App .App-footer {
  text-align: center;
  margin: 20px 0;
}

.App .teaching-icon {
  max-width: 150px;
  display: block;
  margin: 10px auto 10px;
}
