.Dictionary form {
  text-align: center;
}

.Dictionary input,
button {
  width: 100%;
  border: 1px solid #38598b;
  background-color: #e7eaf6;
  border-radius: 4px;
  padding: 5px;
  margin-top: 5px;
  transition: all 150ms ease-in-out;
}

.Dictionary button:hover {
  background-color: #b7bce4;
  border: 1px solid #b7bce4;
  color: #e7eaf6;
}

.Dictionary section {
  background-color: #e7eaf6;
  padding: 15px 20px;
  margin: 20px auto;
  border-radius: 4px;
  box-shadow: 0 5px 10px rgb(0, 0, 0, 0.2);
}

.Dictionary h1 {
  font-family: "DM Serif Display", serif;
  font-size: 18px;
  margin: 10px 0;
  font-weight: bolder;
}

.Dictionary h2 {
  margin: 5px 0 20px;
  font-size: 25px;
}

.Dictionary h3 {
  margin: 5px 0;
}
