.Meaning .partOfSpeech {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  line-height: 1.5;
  font-weight: bold;
}

.Meaning .example {
  opacity: 0.7;
  font-style: italic;
  margin-top: 5px;
}

.Meaning .definition {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
