.Phonetic {
  margin: 20px 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.Phonetic a {
  padding: 8px 10px;
  margin: 20px 10px 5px 0;
  color: #e7eaf6;
  font-size: 16px;
  background-color: #a2a8d3;
  border-radius: 4px;
  text-decoration: none;
  transition: all 150ms ease-in-out;
}

.Phonetic a:hover {
  background-color: #113f67;
  color: #e7eaf6;
}

.phoneticText {
  opacity: 0.7;
  font-size: 16px;
}
