.Synonyms {
  margin: 20px 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.Synonyms li {
  list-style: none;
  display: inline-block;
  padding-right: 10px;
  font-size: 14px;
  line-height: 1;
}
